{% extends 'game/base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="btn btn-light" href="{% url 'home' %}" id="home-button" data-toggle="tooltip" data-placement="bottom" title="alt + h">Home</a>
            </li>
            <li class="nav-item active">
                <a class="btn btn-light" onclick="location.reload()" id="new-button" data-toggle="tooltip" data-placement="bottom" title="alt + n">Neues Spiel</a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-light" disabled onclick="nextRound()" data-toggle="tooltip" data-placement="bottom" title="alt + c" id="next-button">Nächste Runde</button>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#shortcutModal" id="shenanigans-button">Shenanigans</button>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid my-4 mx-2">
    <div class="row my-3">
        <div class="col">
            <h3 data-round="1" id="round">Runde 1</h3>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <h4>Basis</h4>
            <div class="input-group">
                <input type="text" class="form-control mousetrap" placeholder="Basis eingeben" id="base-text">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" onclick="randomBase()" data-toggle="tooltip" data-placement="top" title="alt + r" id="base-button">
                        <i class="fa fa-random" aria-hidden="true"></i>                            
                    </button>
                </span>
            </div>
        </div>
        {% for player in players %}
        <div class="col">
        </div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col">
            <h4>Spieler</h4>
        </div>
        {% for player in players %}
        <div class="col">
            <h4>{{ player }}</h4>
        </div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col">
            <h4>Suchbegriff</h4>
        </div>
        {% for player in players %}
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control mousetrap" placeholder="Begriff eingeben" onkeypress="keyPressed(event, this)" id="{{player}}-word">
                <span class="input-group-btn">
                    <button class="btn btn-danger search" type="button" data-player="{{ player }}" onclick="searchGoogle(this)" data-toggle="tooltip" data-placement="top" title="enter">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col">
            <h4>Google Treffer</h4>
        </div>
        {% for player in players %}
        <div class="col">
            <div class="input-group">
                <input type="number" class="form-control" disabled id="{{player}}-hits" data-player="{{player}}">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" data-player="{{ player }}" onclick="editHits(this)">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mb-2">
        <div class="col">
            <h4>Punkte</h4>
        </div>
        {% for player in players %}
        <div class="col">
            <h4 id="{{player}}-points" class="center points">0</h4>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success" onclick="compareResults()" data-toggle="tooltip" data-placement="bottom" title="alt + q" id="eval-button">Auswerten</button>
            <button type="button" class="btn btn-secondary" onclick="reset()" data-toggle="tooltip" data-placement="bottom" title="alt + 0" id="eval-button">Punkte zurücksetzen</button>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Runde</th>
                        <th scope="col">Basis</th>
                        {% for player in players %}
                        <th scope="col">{{ player }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>
        </div>
    </div>
    <div id="shoe-img" class="overlay anim-shoe" onclick="shoeOff()">
        <img src="{% static 'game/img/schuh.png' %}" class="shoe">
    </div>
    <div id="ticket-img" class="overlay anim-ticket" onclick="ticketOff()">
        <img src="{% static 'game/img/fahrkarte.jpg' %}" class="ticket">
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="shortcutModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hidden Shortcuts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Shortcut</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Der Schuh</td>
                                <td><kbd>alt + j</kbd></td>
                            </tr>
                            <tr>
                                <td>Eine Fahrkarte</td>
                                <td><kbd>alt + k</kbd></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}