{% extends 'game/base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h2>Google Game</h2>
            <p class="lead">Tippe auf Google Suchbegriffe mit den wenigsten Treffern. Spiele alleine oder gegen deine Freunde.</p>
        </div>
    </div>
    <form method="post" action="{% url 'start' %}" id="game-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="center mr-auto">
                    <h3>Spieler</h3>
                    <ul class="list-group" id="player-list" data-num="1">
                        <li class="list-group-item" id="player-id-1">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Spieler 1</span>
                                <input type="text" class="form-control mousetrap" placeholder="Spielername" name="players">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="center mr-auto">
                    <button type="button" class="btn" onclick="addPlayer()" data-toggle="tooltip" data-placement="right" data-html="true" title="alt + a">Spieler hinzufügen</button>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="center mr-auto">
                    <input type="submit" value="Starten" class="btn btn-primary btn-xl" id="start-button" data-toggle="tooltip" data-placement="right" data-html="true" title="alt + s">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}